* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

:root {
  --primary-color: #ff523b;
  --backgroung-color: #f1d3d3;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 16px;
  opacity: 0.8;
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 30px;
  border-radius: 52px;
  cursor: pointer;
}

header {
  height: 100svh;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(white, var(--backgroung-color));
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}

ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

li {
  list-style: none;
  opacity: 0.7;
}

.container {
  padding: 0 250px;
}

.logo {
  width: 170px;
}

.cart {
  width: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

/**************************** GENERAL STYLES ****************************/
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.title-section span {
  width: 60px;
  background-color: var(--primary-color);
  height: 4px;
  border-radius: 52px;
}

.title-section p {
  font-size: 25px;
  font-weight: 600;
}

/**************************** HERO SECTION ****************************/
.hero {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.hero img {
  width: 600px;
}

.hero p {
  margin: 4px 0px 20px;
}

/**************************** category SECTION ****************************/
.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 65px;
}

.category img {
  width: 32%;
}

/**************************** FEATURE STYLES ****************************/
.feature-main {
  margin-top: 95px;
  margin-bottom: 65px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature div {
  width: 24%;
}

.feature div img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/**************************** RESPONSIVE ****************************/
@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }

  ul {
    display: none;
  }

  header {
    /* height: 90svh; */
  }

  .container {
    padding: 0 30px;
  }

  .left-hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .hero-right {
    /* margin-top: 100px; */
  }

  .hero {
    margin-top: 60px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
  }

  .hero p {
  }

  .hero img {
    width: 100%;
  }
}

/* BOX SHADOW CSS PROPERTIES SAMPLE: */
.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.shadow-xl {
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
}

/* INVERTED COLORS IN CSS: */
.invert-colors {
  filter: invert(1); /* Inverts all colors of the element */
}
